<ion-view view-title="Dashboard">
  <ion-content scroll="">
    <div class="item item-divider">
      Basic
    </div>
    <ion-list>
      <ion-item>
        State {{state}}
      </ion-item>
      <ion-item class="item item-icon-right" href="#/tab/dash/device">
        Version {{version}}
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item ng-click="showToast()">
        showToast
      </ion-item>
      <ion-item ng-click="showToastCenter()">
        showToastCenter
      </ion-item>
      <ion-item ng-click="showDatePicker()">
        showDatePicker {{date}}
      </ion-item>
      <ion-item ng-click="open()">
        openLink
      </ion-item>
      <ion-item ng-click="vibrationVibrate()">
        Vibrate
      </ion-item>
      <ion-item ng-click="vibrationCancel()">
        Cancel
      </ion-item>
    </ion-list>

    <div class="item item-divider">
      Clipboard
    </div>
    <ion-item ng-click="copy()">
      {{text}}
    </ion-item>
    <ion-item ng-click="paste()">
      paste: {{copyText}}
    </ion-item>
    <label class="item item-input">
      <i class="icon ion-ios-email placeholder-icon"></i>
      <input type="email" placeholder="Paste">
    </label>

    <div class="item item-divider">
      Orientation
    </div>
    <ion-item ng-click="getOrientation()">
      getOrientation {{orientation}}
    </ion-item>
    <ion-item ng-click="lockToLandscape()">
      lockToLandscape
    </ion-item>
    <ion-item ng-click="lockToPortrait()">
      lockToPortrait
    </ion-item>

    <div class="item item-divider">
      StatusBar
    </div>
    <ion-item ng-click="showStatusBar()">
      showStatusBar
    </ion-item>
    <ion-item ng-click="hideStatusBar()">
      hideStatusBar
    </ion-item>

    <div class="item item-divider">
      Brightness
    </div>
    <ion-item ng-click="getBrightness()">
      getBrightness: {{brightness}}
    </ion-item>
    <ion-item ng-click="setBrightness()">
      setBrightness
    </ion-item>

    <div class="item item-divider">
      NetInfo
    </div>
    <ion-item ng-click="getConnectionInfo()">
      connectionInfo {{connectionInfo}}
    </ion-item>
    <ion-item ng-click="addEventListener()">
      addEventListener {{wConnectionInfo}}
    </ion-item>
    <ion-item ng-click="removeEventListener()">
      removeEventListener
    </ion-item>

    <div class="item item-divider">
      Badge
    </div>
    <ion-list>
      <ion-item ng-click="setBadge()">
        setBadge
      </ion-item>
      <ion-item ng-click="getBadge()">
        getBadge: {{badge}}
      </ion-item>
      <ion-item ng-click="clearBadge()">
        cleanBadge
      </ion-item>

      <div class="item item-divider">
        Permissions
      </div>
      <ion-item ng-click="checkPermissions()">
        checkPermissions Camera
      </ion-item>
      <ion-item ng-click="requestPermissions()">
        requestPermissions Camera
      </ion-item>
      <ion-item ng-click="checkMultiple()">
        checkMultiple Camera Photo
      </ion-item>
    </ion-list>

    <div class="item item-divider">
      Position
    </div>
    <ion-list>
      <ion-item ng-click="getCurrentPosition()">
        getCurrentPosition: {{location}}
      </ion-item>
      <ion-item ng-click="watchPosition()">
        watchPosition: {{wPosition}}
      </ion-item>
      <ion-item ng-click="clearWatch()">
        clearWatch
      </ion-item>
      <ion-item ng-click="stopObserving()">
        stopObserving
      </ion-item>

      <div class="item item-divider">
        Console
      </div>
      <ion-item
        ng-click="console.log('output text inline console');">
        log inline
      </ion-item>
      <ion-item ng-click="outputSingleObject()">
        Outputting a single object
      </ion-item>
      <ion-item ng-click="outputMultipleObjects()">
        Outputting multiple objects
      </ion-item>
      <ion-item ng-click="stringSubstitutions()">
        Using string substitutions
      </ion-item>
      <ion-item ng-click="stylingConsoleOutput()">
        Styling console output
      </ion-item>
      <ion-item ng-click="groupInTheConsole()">
        Using groups in the console
      </ion-item>
      <ion-item ng-click="timers()">
        Timers
      </ion-item>
      <ion-item ng-click="stackTraces()">
        Stack traces
      </ion-item>
      <ion-item ng-click="console.clear()">
        clear
      </ion-item>
      <ion-item ng-click="">
      </ion-item>
      <div class="item item-divider">
        captureScreen
      </div>
      <ion-item ng-click="captureScreen()">
        captureScreen
      </ion-item>

      <div class="item item-divider">
        Storage
      </div>
      <ion-item ng-click="setAsyncStorage('test', 'hello')">
        setAsyncStorage
      </ion-item>
      <ion-item ng-click="getAsyncStorage('test')">
        getAsyncStorage: {{storage}}
      </ion-item>

      <div class="item item-divider">
        APP
      </div>
      <ion-item ng-click="checkURLScheme()">
        isAppInstalled: {{isAppInstalled}}
      </ion-item>

      <div class="item item-divider">
        Shake
      </div>
      <ion-item ng-click="addShakeListener()">
        addShakeListener: {{shake}}
      </ion-item>
      <ion-item ng-click="removeShakeListener()">
        removeShakeListener
      </ion-item>

      <div class="item item-divider">
        Flashlight
      </div>
      <ion-item ng-click="onFlashlight()">
        on
      </ion-item>
      <ion-item ng-click="offFlashlight()">
        off
      </ion-item>

      <div class="item item-divider">
        SMS
      </div>
      <ion-item ng-click="sendSMS()">
        send
      </ion-item>

      <div class="item item-divider">
        Calendar
      </div>
      <ion-item ng-click="calendarAuthorizationStatus()">
        status: {{authStatus}}
      </ion-item>
      <ion-item ng-click="requestCalendarAuthorize()">
        requestCalendarAuthorize
      </ion-item>
      <ion-item ng-click="saveCalendar()">
        saveCalendar
      </ion-item>
      <ion-item ng-click="findCalendars()">
        findCalendars: {{calendars}}
      </ion-item>
      <ion-item ng-click="fetchAllCalendar()">
        fetchAllCalendar: {{fetchCalendars}}
      </ion-item>
      <ion-item ng-click="removeFirstCalendar()">
        removeLastCalendar
      </ion-item>
      <ion-item ng-click="findEventById()">
        findEventById: {{savedCalendar}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
